html, body {
  min-height: 100vh;
}

.wrapper {
  min-height: 100vh;
}

/**
 * main css
*/
.main-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f7e4ee;
  background-image: url("/resources/img/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-section .bg-area {
  opacity: 0;
  transition: all .5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("/resources/img/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-section .bg-area.is-show {
  opacity: 1;
}

.main-section .intro-card {
  transition: all .3s ease-in-out;
  position: absolute;
  display: inline-block;
  width: 600px;
  height: 333px;
  text-align: center;
  top: 50%;
  left: 50%;
  background-color: #faf9f9;
  border-radius: 1em;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

.main-section .intro-card h2 {
  padding-top: 1.4em;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: -1px;
}

.main-section .intro-card p {
  font-size: 1.5rem;
  padding: .7em 0 3.2em 0;
  letter-spacing: -.5px;
}

.main-section .intro-card .btn {
  font-weight: bold;
  padding: 1.4em 10em;
}

.main-section .img-copyright {
  display: inline-block;
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 1rem;
  font-weight: normal;
  color: #666;
}

.overlay {
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.popup {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 1000px;
  width: 80%;
  max-height: 80vh;
  background-color: #fff;
  border-radius: .5em;
  overflow: hidden;
}

.popup .popup-title {
  text-align: center;
  font-size: 2rem;
  padding: 2em 0;
  color: #0558a5;
}

.popup .popup-content .popup-button {
  display: block;
  padding: 2em 0;
  text-align: center;
}

/**
 * craeteCard css
*/
.choice-card-area {
  width: 100%;
}

.choice-card-area .choice-card-list {
  border-top: 1px solid #ddd;
}

.choice-card-area .choice-card-list .choice-card {
  transition: all .3s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.choice-card-area .choice-card-list .choice-card:after {
  content: '';
  display: block;
  clear: both;
}

.choice-card-area .choice-card-list .choice-card .choice-box {
  float: left;
  display: block;
  width: 15%;
  padding: 2em 0;
  text-align: center;
}

.choice-card-area .choice-card-list .choice-card .choice-box .fas {
  color: #aaa;
  font-size: 1.4rem;
}

.choice-card-area .choice-card-list .choice-card .card-name {
  float: left;
  display: block;
  padding: 2em 0;
  width: 35%;
  font-size: 1.2rem;
  font-weight: bold;
}

.choice-card-area .choice-card-list .choice-card .card-name i {
  font-size: .9rem;
  font-weight: normal;
  color: #999;
  font-style: normal;
}

.choice-card-area .choice-card-list .choice-card .preview {
  float: right;
  display: block;
  width: 40%;
  height: 100%;
}

.choice-card-area .choice-card-list .choice-card .preview .preview-card {
  margin: 0 auto;
  background-color: #bbbbbb;
}

.choice-card-area .choice-card-list .choice-card .preview .preview-card.horizontal-card {
  width: 45px;
  height: 30px;
}

.choice-card-area .choice-card-list .choice-card .preview .preview-card.vertical-card {
  width: 30px;
  height: 45px;
}

.choice-card-area .choice-card-list .choice-card.is-choice {
  background-color: #d1f4ff;
}

.choice-card-area .choice-card-list .choice-card.is-choice .choice-box .fas {
  color: #0558a5;
}

/**
 * template slider css
*/
.choice-template-area {
  padding: 1em 0;
}

.choice-template-area .template-slider {
  display: flex;
}

.choice-template-area .template-slider .temp-slide {
  padding: 2em;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.choice-template-area .template-slider .temp-slide.is-choice {
  background-color: #d1f4ff;
}

.choice-template-area .template-slider .slick-list {
  width: 80%;
}

.choice-template-area .template-slider .slick-arrow {
  width: 10%;
}

/**
 * btn system
*/
.btn {
  transition: all .2s ease-in-out;
  display: inline-block;
  padding: 1em 2em;
  background-color: #0558a5;
  color: #fff;
  border: 0;
  border-radius: .3em;
  font-size: 1rem;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

.btn:hover, .btn:focus, .btn:active {
  background-color: #04396b;
  text-decoration: none;
}

.btn.btn-sm {
  padding: .7em 1.5em;
}

.btn.btn-lg {
  padding: 1.2em 4em;
}
/*# sourceMappingURL=style.css.map */