html,body{
    min-height:100vh;
}
.wrapper{
    min-height:100vh;
}


/**
 * main css
*/
.main-section{
    position:relative;
    width:100%;
    height:100vh;
    background-color:#f7e4ee;
    background-image:url('/resources/img/bg1.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    .bg-area{
        opacity:0;
        transition:all .5s ease-in-out;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        display:block;
        background-image:url('/resources/img/bg1.jpg');
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
       
    }
    .bg-area.is-show{
        opacity:1;
    }
     
    .intro-card{
        transition:all .3s ease-in-out;
        position:absolute;
        display:inline-block;
        width:600px;
        height:333px;
        text-align:center;
        top:50%;
        left:50%;
        background-color:#faf9f9;
        border-radius:1em;
        transform:translateX(-50%) translateY(-50%);
        overflow:hidden;
        box-shadow: 10px 10px 30px rgba(0,0,0,.2);
    
        h2{
            padding-top:1.4em;
            font-size:4rem;
            font-weight:bold;
            letter-spacing:-1px;
        }
        p{
            font-size:1.5rem;
            padding:.7em 0 3.2em 0;
            letter-spacing:-.5px;
        }
        .btn{
            font-weight:bold;
            padding:1.4em 10em;
        }
    }
    .img-copyright{
        display:inline-block;
        position:absolute;
        bottom:1em;
        right:1em;
        font-size:1rem;
        font-weight:normal;
        color:#666;
    }
}


.overlay{
    z-index:900;
    position:fixed;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.8);
}

.popup{
    z-index:1000;
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    max-width:1000px;
    width:60%;
    height:80vh;
    background-color:#fff;
    border-radius:.5em;
    overflow:hidden;

    .popup-title{
        text-align:center;
        font-size:2rem;
        padding:2em 0;
        
    }
    .popup-content{
        //height:100%;

        .btn{
            position:absolute;
            bottom:4em;
            left:50%;
            transform:translateX(-50%);    
        }
    }
    
}

/**
 * craeteCard css
*/
.choice-card-area{
    width:100%;
    margin:0 auto;
    border-top:1px solid #dbdddffa;
    border-bottom:1px solid #dbdddffa;
    text-align: center;
    &:after{
        content:'';
        display:block;
        clear:both;
    }
    .choice-card{
        position:relative;
        text-align: center;
        float:left;
        display:block;
        width:50%;
        height:45vh;
        font-size:1.2rem;
        cursor:pointer;
        &:hover,&:focus,&:active{
            strong{
                color:#333;
            }
            .preview-card{
                background-color:#e0e2e4fa;
            }
            .icon-check .fa-check-circle{
                color:#999;
            }
        }
        &.is-choice{
            strong{
                color:#333;
            }
            background-color:#f7fbff;
            box-shadow: 0 0 10px rgba(19, 21, 34, 0.2);
            .preview-card{
                background-color:#e0e2e4fa;
            }
            .icon-check .fa-check-circle{
                color:#026bce;
            }
        }
        strong{
            display:block;
            color:#aaa;
            font-size:1.5rem;  
            padding-top:2em;
            padding-bottom:1em;          
        }
        .preview-card{
            margin:0 auto;
            background-color:#f1f1f1;
            &.horizontal{
                width:170px;
                height:100px;
                margin-top:4em;
            }

            &.vertical{
                width:100px;
                height:170px;
                margin-top:1em;
            }
        }

        .icon-check{
            position:absolute;
            bottom:2em;
            left:50%;
            display:inline-block;
            text-align:center;
            transform: translateX(-50%);
            .fa-check-circle{
                display:block;
                font-size:4rem;
                color:#ddd;
            }
        }
        label{
            display:block;
            width:100%;
            height:100%;
        }
        
    }   
}


/**
 * btn system
*/
.btn{
    transition:all .2s ease-in-out;
    display:inline-block;
    padding:1em 2em;
    background-color:#0558a5;
    color:#fff;
    border:0;
    border-radius:.3em;
    font-size:1rem;
    font-weight:normal;
    vertical-align:middle;
    cursor:pointer;
    &:hover,&:focus,&:active{
        background-color:#04396b;
        text-decoration:none;
    }
    &.btn-sm{
        padding:.7em 1.5em;
    }
    &.btn-lg{
        padding:1.5em 4em;
    }

}
